version: '3.5'
services:
  etcd:
    image: quay.io/coreos/etcd:v3.5.5
    container_name: etcd
    environment:
      - ETCD_AUTO_COMPACTION_RETENTION=1
      - ETCD_QUOTA_BACKEND_BYTES=4294967296
      - ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:2379
      - ETCD_ADVERTISE_CLIENT_URLS=http://etcd:2379
    command: ["etcd"]
    ports:
      - "2379:2379"

  minio:
    image: minio/minio:RELEASE.2023-01-12T02-06-16Z
    container_name: minio
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    command: ["server", "/data"]
    ports:
      - "9000:9000"

  milvus:
    image: milvusdb/milvus:v2.2.9
    container_name: milvus
    depends_on:
      - etcd
      - minio
    ports:
      - "19530:19530"
      - "19121:19121"
    environment:
      ETCD_ENDPOINTS: etcd:2379
      MINIO_ADDRESS: minio:9000
    command: ["milvus", "run", "standalone"]
